@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

$dropdown-style: (
  width: 35%,
  min-height: 2.5rem,
  padding: 0 0.313rem,
  margin: 0.625rem 0rem,
  font-size: 1rem,
  border-radius: 0.625rem,
  border: 1px solid #000,
  background: #ffffff,
  transition: 0.3s,
);

.add-printer {
  // @include flexCenter(column, flex-start, center);

  width: 85vw;

  text-align: center;
  align-items: center;

  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

  h2 {
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  .add-btn {
    font-size: 1rem;
    width: 65vw;
  }

  .printer-add-input {
    width: 100%;
    @include flexCenter(row, space-around, center);

    .add-input {
      width: 55%;

      input::placeholder {
        opacity: 0.5;
        color: $primary-color;
      }
    }

    .add-select {
      @each $property, $value in $dropdown-style {
        #{$property}: $value;
      }
    }
  }
}

.delete_model-select {
  @include flexCenter(row, center, center);
  width: 80vw;
  margin: auto;

  .select-dropdown {
    @each $property, $value in $dropdown-style {
      #{$property}: $value;
    }
  }

  .select-btn {
    font-size: 1rem;
    width: 60%;
  }
}

.delete-inactive {
  color: #000 !important;
  background-color: #777777 !important;
  border: 3px solid #000 !important;

  pointer-events: none !important;
  cursor: not-allowed !important;

  &::before {
    all: unset !important;
  }
}
