@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.shadow {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  @include flexCenter(column, center, center);

  .box {
    @include flexCenter(column, center, center);
    background-color: $secondary-color;
    text-align: center;

    border-radius: 0.625rem;
    min-height: 20rem;
    width: 80vw;
    padding: 1.125rem;

    opacity: 0.99;

    > h3 {
      color: $red;
    }

    .box-btns {
      width: 100%;
      @include flexCenter(row, center, center);

      .btns-btn {
        width: 49%;
      }
    }
  }
}

.printer-power-warning__box {
  color: $red;
}
