@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

@media (min-width: $breakpoint-desktop) {
  .back__btn {
    display: none !important;
  }

  .media-background {
    min-height: 80vh;
    width: 90vw;

    background: $bcg-color--desktop;
    padding: 5vh 5vw;
    margin: auto;

    .App {
      text-align: center;

      background: linear-gradient(
          60deg,
          rgb(238, 238, 238) 30%,
          rgb(210, 210, 210) 50%,
          rgb(238, 238, 238) 70%
        )
        no-repeat fixed;

      height: 90vh;

      opacity: 0.99;
      @include flexCenter(row, space-between, center);
      margin: auto;

      border-radius: 3rem;

      .header_logo {
        max-width: 40%;
        @include flexCenter(column, center, center);

        background: none;
        color: $font-color;

        .logo_txt {
          font-size: 1.8rem;
          width: 90%;
          text-align: center;
        }

        .logo_img {
          width: 15rem;
          height: 15rem;
          max-width: unset;
          max-height: unset;
        }
      }

      .App-header {
        min-height: unset;
        height: 80vh;
        width: 100%;

        .lang-menu {
          right: 12vw;
          top: 14vh;
        }
      }
    }

    .media__content {
      text-align: center;

      background: linear-gradient(
          60deg,
          rgb(238, 238, 238) 30%,
          rgb(210, 210, 210) 50%,
          rgb(238, 238, 238) 70%
        )
        no-repeat fixed;

      height: 90vh;

      opacity: 0.99;
      @include flexCenter(row, flex-start, center);
      margin: auto;

      border-radius: 3rem;
    }
  }
}
