@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

$dropdown-style: (
  min-height: 2.5rem,
  padding: 0 0.313rem,
  margin: 0.625rem 0rem,
  font-size: 1rem,
  border-radius: 0.625rem,
  border: 1px solid #000,
  background: #ffffff,
  transition: 0.3s,
);

.add-printer {
  // @include flexCenter(column, flex-start, center);
  color: $font-color;

  width: 85vw;

  text-align: center;
  align-items: center;

  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

  .printer__forms {
    display: block;

    h2 {
      font-size: 1rem;
      margin-top: 1.25rem;
    }

    .form__model {
      .model__input {
      }

      .model__submit {
      }

      .model__delete {
        .delete__select {
          @include flexCenter(row, center, center);
          width: 80vw;
          margin: auto;

          .select__dropdown {
            width: 35%;
            @each $property, $value in $dropdown-style {
              #{$property}: $value;
            }
          }

          .select__confirm {
            font-size: 1rem;
            width: 60%;
          }
        }
      }
    }

    .form__printer {
      width: 80vw;

      justify-items: baseline;
      align-items: center;

      .printer__add {
        @include gridStart(
          32% 32% 36%,
          2.5rem 2.5rem 5rem,
          'printer-name printer-name printer-model'
            'printer-power printer-add-btn printer-add-btn'
            'printer-add-power-warning printer-add-power-warning printer-add-power-warning',
          0.625rem 0
        );

        .add-name {
          width: 90%;
          grid-area: printer-name;

          input::placeholder {
            opacity: 0.5;
            color: $primary-color;
          }
        }

        .add-model {
          width: 90%;
          grid-area: printer-model;
          @each $property, $value in $dropdown-style {
            #{$property}: $value;
          }
        }

        .add-power {
          width: 85%;
          grid-area: printer-power;
          text-align: center;
        }

        .add-btn {
          width: 90%;
          grid-area: printer-add-btn;
        }

        .printer-add-power-warning {
          color: $red;
          grid-area: printer-add-power-warning;
        }
      }
    }
  }
}

.delete-inactive {
  color: #000 !important;
  background-color: #777777 !important;
  border: 3px solid #000 !important;

  pointer-events: none !important;
  cursor: not-allowed !important;

  &::before {
    all: unset !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .add-printer {
    width: 70vw;

    .printer__forms {
      @include flexCenter(row, center, center);
      width: 70vw;

      .form__model {
        width: 50%;
        height: 50%;

        font-size: 1.5rem;

        .model__input {
          width: 75%;
        }

        .model__submit {
          width: 50%;
          height: 4rem;
        }

        .model__delete {
          width: 100%;
          margin: 5rem auto;

          .delete__select {
            @include flexCenter(column, center, center);
            width: 100%;

            .select__dropdown {
              width: 75%;
            }

            .select__confirm {
              width: 50%;
              height: 4rem;
            }
          }
        }
      }

      .form__printer {
        width: 50%;
        height: 50%;
        font-size: 1.5rem;

        .printer__add {
          // @include flexCenter(column, center, center);

          @include gridStart(
            50% 50%,
            3rem,
            'printer-name printer-name' 'printer-model printer-power'
              'printer-add-btn printer-add-btn'
              'printer-add-power-warning printer-add-power-warning',
            0.625rem 0
          );

          .add-name,
          .add-model,
          .add-power,
          .add-btn {
            height: 3rem;
          }

          .add-name {
            width: calc(100% - 0.625rem - 3px);
          }

          .add-model {
          }

          .add-power {
            width: calc(100% - 0.625rem - 3px);
          }

          .add-btn {
            width: 50%;
          }

          .printer-add-power-warning {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
