@import '../../UI/shared/functions';
@import '../../UI/shared/variables';

.printer__list {
  .list__main {
    .list__btns {
      width: 85vw;
      margin: 0 auto;
      @include flexCenter(row, space-between, center);

      .list--btn {
        width: 40vw;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .media-background {
    .media__content {
      .list__main {
        width: 70vw;
        .list__btns {
          @include flexCenter(row, space-evenly, center);

          .list--btn {
            width: 30vw;
            height: 7vh;
          }
        }
      }
    }
  }

  .list__items {
    width: 80vw;

    .printer__details-btn {
      width: 40% !important;
      height: 7vh !important;
    }
  }
}
