@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.container-charts {
  width: 85vw;

  @include flexCenter(column, center, center);

  .chart-filters {
    @include flexCenter(row, center, center);
  }

  .chart-graph {
    width: 100%;
  }
}

.chart-btns {
  @include flexCenter(row, center, center);

  .chart-btn {
    width: 45vw !important;
  }
}
