@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

$panel-btns-style: (
  font-size: 1.125rem,
  border: 1px solid $font-color,
  border-radius: 50%,
  text-align: center,
  padding: 0.125rem,
  margin: 0.125rem,
  cursor: pointer,
  transition: 300ms,
);

.ininite-scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85vw;
  text-align: center;
  align-items: center;
  padding: 0px 15px 0 15px;
  margin: 10px;

  .new-tariff {
    overflow: hidden;
    position: relative;
    transition: 300ms;

    width: 100%;
    min-height: 8rem;
    color: $font-color;

    background-color: rgba($primary-color, 0.3);
    border-radius: $corners;

    @include flexCenter(column, center, center);

    .panel {
      display: flex;
      width: 100%; // Set the width for one panel
      transition: transform 0.3s ease-in-out;

      .panel-week {
        .active {
          background-color: $blue !important;
        }

        .week-day {
          @each $property, $value in $button-style-remove {
            #{$property}: $value;
          }

          font-size: 1rem;
          margin: 0.125rem;
          padding: 0.313rem;

          border: 1px solid #000;
          border-radius: $corners;
        }
      }
    }

    .panel div {
      flex: 0 0 100%; // Ensures that all div children have the same width
    }

    .panel.active {
      transform: translateX(0%);
    }

    .tarrif-close-btn {
      position: absolute;
      bottom: 0;
      left: 0;

      @each $property, $value in $button-style-remove {
        #{$property}: $value;
      }
      @each $property, $value in $panel-btns-style {
        #{$property}: $value;
      }

      &:hover {
        background-color: $red;
        color: white;
        border: 1px solid white;
      }
    }

    .tariff-panels {
      position: absolute;
      bottom: 0;
      right: 0;

      .panel-btn {
        @each $property, $value in $button-style-remove {
          #{$property}: $value;
        }
        @each $property, $value in $panel-btns-style {
          #{$property}: $value;
        }

        &:hover {
          background-color: $blue;
          color: white;
          border: 1px solid white;
        }
      }
    }
  }
}
