@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.list-element {
  width: inherit;
  @include flexCenter(row, space-between, center);
  opacity: 0.99;
  margin: 0.313rem auto;

  border-radius: 0.625rem;

  background-color: $secondary-color;

  .element-labels {
    @include flexCenter(column, center, flex-start);
    margin: 0.313rem 0 0.313rem 0;

    .label-name {
      margin: 0 0 0 0.625rem;
    }
  }

  .element-delete {
    width: 30%;
    margin: 0;
  }
}
