@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.topbar {
  background-color: $primary-color;

  width: 100vw;
  height: 10vh;

  @include flexCenter(row, space-between, center);

  position: -webkit-sticky;

  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;

  .topbar_logo-wrapper {
    width: 50%;
    height: 70%;
    background-color: #fff;

    margin: 0 1.25rem;
    border-radius: 10px;

    @include flexCenter(row, space-between, center);

    font-size: 1.25rem;
    white-space: nowrap;
    padding-left: 0.625rem;

    .logo-wrapper_txt {
      background-image: -o-linear-gradient(30deg, $blue 20%, $red 50%);
      background-image: linear-gradient(60deg, $blue 20%, $red 50%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  img {
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  //better font look for larger mobile
  @media (min-width: 490px) {
    .topbar_logo-wrapper {
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }

  @media (orientation: landscape) {
    .topbar_logo-wrapper {
      font-size: 5vh;
      white-space: nowrap;
    }
  }

  .topbar_menu {
    margin: 0 1.5rem;

    .menu_button {
      vertical-align: middle;

      z-index: 102;
      position: fixed;
      top: 2.5vh;
      right: 5vw;

      .rotated {
        transform: rotate(225deg);
        transition: transform 1s ease;

        .rotated-dots {
          transition: 1s;
          background-color: $green;
        }
      }

      button {
        transition: transform 1s ease;

        margin: 0;
        padding: 0;
        background: none;
        border: none;

        width: 5vh;
        height: 5vh;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.shadow {
  .menu-panel {
    z-index: 101;
    position: fixed;
    right: 1vw;
    top: 1vh;
    text-align: center;

    border-radius: $corners;
    padding: 0.625rem;

    width: 45vw;
    height: calc(98vh - 2 * 0.625rem);
    background-color: $secondary-color;

    .menu-btns {
      width: 100%;
      height: 70vh;

      @include flexCenter(column, center, center);

      .menu-btn {
        width: 40vw;
        height: 2.313rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .topbar {
    display: none;
  }
}
