@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.topbar {
  background-color: $primary-color;

  width: 100vw;
  height: 10vh;

  @include flexCenter(row, space-between, center);

  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;

  .topbar_logo-wrapper {
    width: 50%;
    height: 70%;
    background-color: #fff;

    margin: 0 1.25rem;
    border-radius: 10px;

    @include flexCenter(row, space-between, center);

    font-size: 1.25rem;
    white-space: nowrap;
    padding-left: 0.625rem;

    .logo-wrapper_txt {
      background-image: linear-gradient(60deg, $blue 20%, $red 50%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  img {
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  //better font look for larger mobile
  @media (min-width: 490px) {
    .topbar_logo-wrapper {
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }

  @media (orientation: landscape) {
    .topbar_logo-wrapper {
      font-size: 5vh;
      white-space: nowrap;
    }
  }

  .topbar_menu {
    margin: 0 1.5rem;
    height: 70%;

    .menu_button {
      height: 100%;
      vertical-align: middle;

      button {
        margin: 0;
        padding: 0;
        background: none;
        border: none;

        width: 7vh;
        height: 7vh;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .topbar {
    display: none;
  }
}
