@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

@media (min-width: $breakpoint-desktop) {
  .media-background {
    min-height: 90vh;
    width: 90vw;
    padding: 5vh 5vw;
    margin: auto;

    .App {
      height: 90vh;

      .App-header {
        min-height: unset;
        height: 80vh;
        width: 60%;

        .lang-menu {
          right: 12vw;
          top: 14vh;
        }

        .styled-input {
          width: 60% !important;
          @include flexCenter(column, center, flex-start);
        }

        .styled-pin {
          width: 60% !important;

          .pin_heading {
            width: 100%;
          }
        }

        .log-btn {
          width: 30vw;
        }

        .main_additionals {
          position: absolute;
          bottom: 15vh;
          right: 13vw;
          width: 10rem;
        }
      }
    }
  }
}
