.pin_heading {
  color: black;
  font-size: 1rem;
  text-align: start;
  width: 80vw;
  margin: 0.625rem 0;
}

.pin_field {
  width: 90%;
  margin: 0.625rem auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field_input {
  margin: 0.625rem 0;
  padding: 0.625rem;

  font-size: 1.125rem;

  width: 15%;

  border-radius: 5px;
  border: 1px solid #000000;

  text-align: center;

  transition: 0.3s;

  &:focus {
    outline-offset: 5px;
  }
}
