@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.filament__list {
  @include flexCenter(row, space-around, center);
  flex-wrap: wrap;
  margin-top: 2rem;

  .list__button {
    min-height: 4rem;

    .filament__item {
      @include flexCenter(row, space-around, center);

      height: 4rem;
      font-size: 1rem;

      h2 {
        font-size: 1.25rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .filament__list {
    height: 60vh !important;

    .list__button {
      min-height: 7rem;
      width: 50%;

      .filament__item {
        h2 {
        }
      }
    }
  }
}
