@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.shadow {
  .box {
    .form-filament-add {
      @include flexCenter(column, flex-start, center);
      width: 90vw;
    }

    .number-inputs {
      width: 75vw;
      margin: 0 auto;
      @include flexCenter(row, space-between, center);

      .input-number {
        width: 47%;
        height: 6.25rem;

        @include flexCenter(column, center, center);

        .input-label {
          vertical-align: middle;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
