@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.select-disabled {
  background-color: $primary-color !important;
  cursor: not-allowed;
  pointer-events: none;
  z-index: 2;
}
