@import '../../UI/shared/functions';
@import '../../UI/shared/variables';

.buttons-wrapper {
  width: 95vw;
  padding: 0 0.313rem;

  font-size: 1rem;

  @include flexCenter(row, center, center);

  .wrapper-btn {
    max-width: 30%;
    height: 3.125rem;

    font-size: 1rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .content__wrapper {
    margin: 0 auto;

    .buttons-wrapper {
      width: 75vw;

      .wrapper-btn {
        height: 3rem;
      }
    }
  }
}
