@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.settings__content {
  min-height: 50vh;
  @include flexCenter(column, center, center);

  background: $secondary-color;
  border-radius: 0.625rem;
  opacity: 0.99;

  padding: 0.625rem;
  margin: 0.625rem 0;
}

@media (min-width: $breakpoint-desktop) {
  .settings__content {
    width: 60vw;
    margin: 0 auto;

    .content__option {
      width: 50vw;
      height: 6rem;
    }
  }
}
