@import '../../UI/shared/variables';
@import '../../UI/shared/functions';

.wrapper_buttons {
  @include gridStart(
    50% 50%,
    5rem 5rem,
    'printers filaments' 'settings devices' 'users owners',
    0.625rem
  );
  justify-items: stretch;

  .area-printers {
    grid-area: printers;
  }
  .area-filaments {
    grid-area: filaments;
  }
  .area-settings {
    grid-area: settings;
  }
  .area-users {
    grid-area: users;
  }
  .area-owners {
    grid-area: owners;
  }
  .area-devices {
    grid-area: devices;
  }

  .wrapper_button {
    width: 100%;
    height: 100%;
  }
}
