@import './Components/UI/shared/variables';

@font-face {
  font-family: 'Electrolize';
  src: url('./fonts/Electrolize-Regular-PL.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: $fragor-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bcg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
